# ==========================================
# CONFIGURACIÓN LOCAL Y SECRETOS
# ==========================================
.env
.env.*
*.env
config.local.*

# ==========================================
# ENTORNOS DE NOTAS Y HERRAMIENTAS
# ==========================================
.obsidian/

# ==========================================
# ENTORNOS DE DESARROLLO (IDEs y EDITORES)
# ==========================================
# VSCode
.vscode/

# JetBrains (IntelliJ, PyCharm, WebStorm, etc.)
.idea/

# Vim & Emacs
*.swp
*.swo
*~
\#*\#

# ==========================================
# ENTORNO DEL SISTEMA OPERATIVO (LINUX)
# ==========================================
.cache/
*.tmp
*.bak

# ==========================================
# LOGS Y ARCHIVOS DE BLOQUEO
# ==========================================
*.log
logs/
*.lock

# ==========================================
# DEPENDENCIAS Y ENTORNOS VIRTUALES
# ==========================================
node_modules/
venv/

# ==========================================
# COMPILACIÓN, LENGUAJES Y CONSTRUCCIÓN
# ==========================================
# Python
__pycache__/
*.pyc

# Directorios de salida comunes (JS/TS, C#, Java, Rust, etc.)
dist/
build/
out/
target/